<nav class="container-fluid navbar fixed-top">
  <div class="container">
    <ul class="nav align-items-center">
      <li class="nav-item profile-avatar">
        <img src= <%= image_path('avatar.jpg') %> >
      </li>
      <li class="nav-item profile-name">
        Имя пользователя
      </li>
    </ul>

    <ul class="nav justify-content-end align-items-center">
      <li class="nav-item">
        <a class="nav-link text-white hide-link" href="#">Мастер Kit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white hide-link" href="#">База знаний</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white hide-link" href="#">Статистика</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white hide-link" href="#">Магазин</a>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-light hide-btn">Пригласить друга</button>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container section">
  <div class="row">
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/1.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/2.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/3.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/4.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/5.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/6.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 section-items">
      <img src= <%= image_path('section/7.jpg') %> >
      <div class="section-items-title">Название секции</div>
    </div>
  </div>
</div>
