<div class="container-fluid">
  <nav class="navbar fixed-top shadow bg-white rounded">
    <div class="container">
      <a class="navbar-brand">
        <img src= <%= image_path('logo/logo.svg') %> >
      </a>
      <div>
        <button class="btn btn-outline-dark" type="submit">Войти</button>
        <a class="navbar-basket" href="#">
          <img src= <%= image_path('icon/basket.svg') %> >
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="nav-container navbar">
</div>

<div class="wrapper">
  <div class="content container">
    <div class="search">
      <input type="text" class="form-control" placeholder="Поиск по ресторанам и кухням">
    </div>
    <div class="title-content" style="font-size: 22px;">
      Рестораны в Томске
    </div>
    <div class="content-flex">
      <div class="container-items">
        <img src= <%= image_path('content-img/1.svg') %> >
        <p>Макдоналдс — Газетный</p>
        <p>₽₽ • Бургеры</p>
        <p>25 - 35 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/2.svg') %> >
        <p>DimSum & Co — ЦДМ</p>
        <p>₽ • Японская • Китайская • Азиатская</p>
        <p>40 - 50 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27.svg') %> >
        <p>ДвижОК — Манежная</p>
        <p>₽ • Американская • Европейская</p>
        <p>35 - 45 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-2.svg') %> >
        <p>НЯ — NHA</p>
        <p>₽₽ • Вьетнамская</p>
        <p>30 - 40 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-3.svg') %> >
        <p>Точка Дзы — Цветной</p>
        <p>₽₽ • Вьетнамская</p>
        <p>40 - 50 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-4.svg') %> >
        <p>Cinnabon</p>
        <p>₽ • Выпечка • Десерты • Капкейки</p>
        <p>25 - 35 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-6.svg') %> >
        <p>PIZZELOVE</p>
        <p>₽₽ • Пицца</p>
        <p>15 - 25 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-7.svg') %> >
        <p>Zю кафе — Тверская</p>
        <p>₽₽ • Японская</p>
        <p>25 - 35 мин</p>
      </div>
      <div class="container-items">
        <img src= <%= image_path('content-img/95b745f6ce6a45903c3ed254afd72e46-w550-27-8.svg') %> >
        <p>Bar BQ Cafe — Манежная</p>
        <p>₽₽₽ • Европейская</p>
        <p>30 - 40 мин</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer-block-brand">
        <a href="#">
          <img src= <%= image_path('logo/white-logo.svg') %> >
        </a>
      </div>

      <div class="footer-block-info">
        <div class="row">
          <div class="col-md-4">
            <div class="myselect">
              <p><select>
                <option>Русский</option>
                <option>English</option>
              </select></p>
            </div>
            <p><span style="color: #49A144;">#</span><span style="font-weight: 500;">UberEats</span></p>
            <p>
              <img src= <%= image_path('icon/facebook.svg') %> >
              <img src= <%= image_path('icon/twitter.svg') %> >
              <img src= <%= image_path('icon/instagram.svg') %> >
            </p>
          </div>
          <div class="col-md-4">
            <p>Об UberEats</p>
            <p>Станьте партнёром по доставке</p>
            <p>Станьте парнёром-рестораном</p>
          </div>
          <div class="col-md-4">
            <p>Все города</p>
            <p>Цены</p>
            <p>Помощь</p>
            <p>FAQs</p>
          </div>
      </div>
    </div>

    <div class="footer-block-link">
      <img src= <%= image_path('logo/app_store.svg') %> >
      <div style="width: 40px;"></div>
      <img src= <%= image_path('logo/google_play.svg') %> >
    </div>

    <div class="footer-block-ruls">
      <div class="row">
        <div class="col-md-4">
          © 2017 Uber Technologies Inc.
        </div>
        <div class="col-md-4">
          Обработка персональных данных
        </div>
        <div class="col-md-4">
          Пользовательское соглашение
        </div>
      </div>
    </div>
   </div>
  </div>
</div>

<div class="navbar fixed-bottom">
  <a href="#" class="hidden-xs btn btn-success"><img src= <%= image_path('arrow.svg') %> ></a>
</div>
