<div class="container-fluid fixed-top bg-white">
  <div class="container navbar">
    <nav class="nav display-none-logo">
      <img src= <%= image_path('logo/logo-wf.svg') %> >
    </nav>

    <nav class="nav display-block">
      <img src= <%= image_path('logo/logo-mini.svg') %> >
    </nav>

    <ul class="nav justify-content-center display-none">
      <li class="nav-item">
        <a class="nav-link active" href="#">Invest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cash</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Borrow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Blog</a>
      </li>
    </ul>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <button class="button-border">Log in</button>
      </li>
      <li class="nav-item">
        <button class="button-background">Get started</button>
      </li>
    </ul>
  </div>
</div>


<div class="nav-container">
</div>

<div class="container-fluid">
  <div class="container content-items-block">
    <div class="row">
      <div class="col-md-7 img-block-cover">
        <img src= <%= image_path('content-img/Rectangle-1.svg') %> >
      </div>
      <div class="col-md-5 content-center-block">
        <div class="text-57">Make wealth</div>
        <div class="text-54">your own.</div>

        <div class="text-22">Personalized, Automated, Effortless
        Investing and Savings.</div>

        <button class="button-background">Get started</button>
      </div>
    </div>
  </div>

  <div class="container content-items-block">
    <img src= <%= image_path('frame/Frame-2.svg') %> >
    <img src= <%= image_path('frame/Frame-3.svg') %> >
    <img src= <%= image_path('frame/Frame.svg') %> >
    <img src= <%= image_path('frame/Frame(2).svg') %> >
    <img src= <%= image_path('frame/Frame-1.svg') %> >
    <img src= <%= image_path('frame/Frame4.svg') %> >
  </div>

  <div class="container content-items-block">
    <div class="row">
      <div class="col-md-4 content-center-block margin-left">
        <div class="text-56">
          Investing isn’t easy. We just make it feel that way.
        </div>
        <div class="text-17">
          Let us customize a portfolio just for you or build it yourself,
          and our powerful automation will make the most of your investments,
          optimizing your performance and helping lower your taxes.
        </div>
        <div class="wrapper-button">
          <button class="button-background">Start investing</button>
          <a href="#" class="button-links">Learn more</a>
        </div>
      </div>
      <div class="col-md-7 img-block">
        <img src= <%= image_path('content-img/phone.svg') %> >
      </div>
    </div>
  </div>

  <div class="container content-items-block">
    <div class="row">
      <div class="col-md-7 img-block">
        <img src= <%= image_path('content-img/phone-card.svg') %> >
      </div>
      <div class="col-md-5">
        <div class="text-49">
          Everyday cash, designed to build long-term wealth.
        </div>
        <div class="text-15">
          Our Cash account, offered with Green Dot Bank,
          lets you automate your savings, so you can pay bills,
          withdraw from 19,000+ ATMs, and invest your extra cash in
          seconds to keep building your future.
        </div>
        <div class="wrapper-button">
          <button class="button-background">Start investing</button>
          <a href="#" class="button-links">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-items-block content-block-background">
    <div class="row">
      <div class="col-md-6">
        <div class="text-padding">
          <div class="text-56">
            Saving and investing. All while you’re relaxing.
          </div>

          <div class="text-16">
            Tell us what you’re saving for, and we’ll automatically
            set aside extra cash to hit your goals. And since we
            connect with all your accounts, you only need one app to
            watch your wealth grow.
          </div>
        </div>
      </div>

      <div class="col-md-6 img-block">
        <img src= <%= image_path('content-img/graphic.svg') %> >
      </div>
    </div>
  </div>

  <div class="content-items-block content-block-background-80">
    <div class="block-flex">
      <div class="block-card col-md-3">
        <div class="text-12">
          Testimonial
        </div>

        <div class="text-34">
          It's the single best resource for both investing,
          managing retirement and seeing my entire financial picture.
        </div>

        <div class="text-15">
          Joshua B
        </div>
      </div>

      <div class="block-card col-md-3">
        <div class="text-12">
          Testimonial
        </div>

        <div class="text-34">
          Wealthfront is the first thing in my life
          that actually motivated me to save money.
        </div>

        <div class="text-15">
          Isidore
        </div>
      </div>

      <div class="block-card col-md-3">
        <div class="text-12">
          Testimonial
        </div>

        <div class="text-34">
          It’s automatic, and I’m lazy.
        </div>

        <div class="text-15">
          Ryan
        </div>
      </div>
    </div>
  </div>

  <div class="content-items-block">
    6
  </div>
  <div class="content-items-block">
    7
  </div>
</div>
