<div class="container-fluid">
  <div class="navbar fixed-top bg-white">
    <div class="container navbar-items">
      <a class="navbar-brand">
        <img src= <%= image_path('logo/logo-wf.svg') %> >
      </a>
      <div class="navbar-links">
        <a href="#">Invest</a>
        <a href="#">Cash</a>
        <a href="#">Borrow</a>
        <a href="#">Blog</a>
      </div>
      <div class="navbar-button">
        <button class="button-border">Log in</button>
        <button class="button-background">Get started</button>
      </div>
    </div>
  </div>
</div>

<div class="nav-container navbar">
</div>

<div class="container">
  <div class="content-items-block">
    <div class="row">
      <div class="col-md-7">
        <img src= <%= image_path('content-img/Rectangle-1.svg') %> >
      </div>
      <div class="col-md-5 content-center-block">
        <div class="text-57">Make wealth</div>
        <div class="text-54">your own.</div>

        <div class="text-22">Personalized, Automated, Effortless
        Investing and Savings.</div>

        <button class="button-background">Get started</button>
      </div>
    </div>
  </div>
  <div class="content-items-block">
    <div class="frame-block">
      <img src= <%= image_path('frame/Frame-2.svg') %> >
      <img src= <%= image_path('frame/Frame-3.svg') %> >
      <img src= <%= image_path('frame/Frame.svg') %> >
      <img src= <%= image_path('frame/Frame(2).svg') %> >
      <img src= <%= image_path('frame/Frame-1.svg') %> >
      <img src= <%= image_path('frame/Frame4.svg') %> >
    </div>
  </div>
  <div class="content-items-block">
    <div class="row">
      <div class="col-md-4 content-center-block margin-left">
        <div class="text-56">
          Investing isn’t easy. We just make it feel that way.
        </div>
        <div class="text-17">
          Let us customize a portfolio just for you or build it yourself,
          and our powerful automation will make the most of your investments,
          optimizing your performance and helping lower your taxes.
        </div>
        <div class="wrapper-button">
          <button class="button-background">Start investing</button>
          <a href="#" class="button-links">Learn more</a>
        </div>
      </div>
      <div class="col-md-7">
        <img src= <%= image_path('content-img/phone.svg') %> >
      </div>
    </div>
  </div>
  <div class="content-items-block">
    <div class="row">
      <div class="col-md-7">
        <img src= <%= image_path('content-img/phone-card.svg') %> >
      </div>
      <div class="col-md-5">
        <div class="text-49">
          Everyday cash, designed to build long-term wealth.
        </div>
        <div class="text-15">
          Our Cash account, offered with Green Dot Bank,
          lets you automate your savings, so you can pay bills,
          withdraw from 19,000+ ATMs, and invest your extra cash in
          seconds to keep building your future.
        </div>
        <div class="wrapper-button">
          <button class="button-background">Start investing</button>
          <a href="#" class="button-links">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-items-block">
    4
  </div>
</div>
